* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
}

nav h1 {
    font-size: 2.5rem;
    color: white;
}

nav {
    border-bottom: 15px solid #134074;
    
    background-color: #0b2545;
    padding: 1.8%;
}


.pre-nav{
    background-color: white;
    padding: 0.5%;
    font-size: 0.9rem;
}

.pre-nav ul{
    list-style-type: none; /*Remove a Bolinha que fica do lado esquerdo dos elementos da lista*/
    display: flex; /*Organiza os elementos na horizontal*/
    justify-content: flex-end;
    gap: 10px; /*Um espaçamento entre os elementos*/
    margin-right: 15%;
}

.pre-nav li{
    padding-right: 10px;
    border-right: 1px solid black;/*Cria a barra que fica entre as opções*/
}

footer {
    background-color: #bbbbbb;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Poppins";
}